body{
    background-image: url("https://previews.123rf.com/images/enterline/enterline1707/enterline170700187/82357876-the-word-greetings-concept-written-in-white-type-on-a-colorful-background-.jpg");
}


h7{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-left: 505px;
    margin-bottom: 45px;
    text-decoration: underline;
}
p#welcome{
    text-align: center;
    color: blue;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 450px;
    margin-left: 420px;
    margin-top: 10px;
}
.audience{
    margin-bottom: 14px;
    margin-top: 20px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10px;
}
.language{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 14px;
    margin-left: 10px;
}
.time{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10px;
}
.feedback{
    justify-content:center;
    display: flex;
    margin-left:40%;
    margin-top: 15%;
    padding: 50px 40px;
    font-size: 30px;
}
.feedback:hover{
    background-color: maroon;
    color: white;
}
.container.footer{
    text-align: center;
}

/*feedback.html*/

.container{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    width: 360px;
    background: black;
    box-shadow: 0 0 8px rgb(250, 250, 250, 0.6); 
    opacity: 0.6;
}
.container form{
    width: 100%;
    text-align: center;
    padding: 25px 20px;
}
form h1{
    padding: 10px 0;
}
form.id{
    position: relative;
}

form input{
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: white;
    padding: 0 15px;
    font-size: 20px;
}
textarea{
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid lightgray;
    border-radius: 3px;
    background: white;
    padding: 5px 15px;
    font-size: 20px;
}
form button{
    margin-top: 5px;
    border: none;
    background: lightgoldenrodyellow;
    color: blue;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
}


